.adr-toolbar {
    background-color: inherit !important;
    z-index: 0;
}

.drugsContainer {
    max-width: 40em;
    margin: 0 auto;
}

.drug {
    position: sticky;
    position: -webkit-sticky;
    left: 0;
    top: 0px;
    margin: 0 auto;
    z-index: 3;
    width: 90%;
}

@media only screen and (max-width: 500px) {
    .drug {
        width: 100%;
    }
}